spring:
  application:
    name: piyo-todo-api
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

piyo-todo:
  aws:
    s3:
      bucket: piyo-todo
      presigned:
        # Presigned URL用のIAMユーザーのアクセスキーとシークレットキー
        access-key-id: presigned-dummy-key
        secret-access-key: presigned-dummy-secret
        expiration-minutes: 10
